<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">The Tech Blog</a>
            </h1>
            <nav>
                {{!-- if we are logged in, show the logout button but hide the login button --}}
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{!-- if we are not logged in, show the login button but hide the logout button --}}
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            &copy; 2022 Jeremy Jakobsons
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>