{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

</br>
</br>

<div>
    <button type="button" id="add-post" class="add-post"> <a href="/dashboard/" Create New Post</button>
</div>
